<div class="foto container">
    <img src="{{url_for('static', filename='img/html.jpg') }}" alt="" class="box-img container">
</div>

<div class="parrafo container">
    <h2>HTML</h2>
    <p> HTML (HyperText Markup Language) es un lenguaje de marcado utilizado para crear y estructurar el contenido de páginas web. Se trata de un estándar fundamental en el desarrollo web y se utiliza junto con CSS (Cascading Style Sheets) y JavaScript para crear páginas web interactivas y visualmente atractivas.

        HTML utiliza una sintaxis basada en etiquetas (tags) que envuelven y organizan el contenido de la página. Cada etiqueta tiene un propósito específico y define la estructura y el significado semántico de los elementos contenidos dentro de ella. Estos elementos pueden ser encabezados, párrafos, imágenes, enlaces, listas, formularios y muchos otros.</p>
    <h2>CSS</h2>
    <p> CSS (Cascading Style Sheets) es un lenguaje de estilo utilizado para describir el aspecto y la presentación de un documento HTML o XML. Se utiliza en conjunto con HTML para aplicar estilos y controlar la apariencia visual de los elementos en una página web.

        CSS funciona mediante la definición de reglas de estilo que se aplican a elementos HTML específicos. Estas reglas especifican cómo se deben mostrar los elementos, incluyendo aspectos como el color, el tamaño, el tipo de fuente, el espaciado, el diseño de cajas y la disposición de los elementos en la página.</p>
    <h2>JS</h2>
    <p> JavaScript (JS) es un lenguaje de programación de alto nivel que se utiliza principalmente en el desarrollo web. Es un lenguaje interpretado y orientado a objetos, diseñado para agregar interactividad y funcionalidad a las páginas web.

        JavaScript se ejecuta en el lado del cliente, lo que significa que se ejecuta en el navegador web del usuario final. Sin embargo, también se utiliza en el lado del servidor a través de plataformas como Node.js. JavaScript permite la manipulación del contenido HTML, la interacción con el usuario, la validación de formularios, el control de eventos, la manipulación de datos y mucho más.</p>
</div>

<div class="foto container">
    <img src="{{url_for('static', filename='img/python.jpg') }}" alt="" class="box-img container">
</div>

<div class="parrafo container">
    <h2>PYTHON</h2>
    <p>Python es un lenguaje de programación fácil de aprender y leer. Se caracteriza por su simplicidad y claridad en la sintaxis. Es interpretado, lo que significa que no es necesario compilar el código antes de ejecutarlo.

        Python es ampliamente utilizado en diferentes áreas, como desarrollo web, análisis de datos, inteligencia artificial y automatización de tareas. Tiene una amplia biblioteca estándar que proporciona funciones y módulos útiles para diversas tareas.
        
        Además, Python cuenta con una comunidad activa de desarrolladores que contribuyen con bibliotecas adicionales y brindan soporte a través de tutoriales y foros.
        
        En resumen, Python es un lenguaje de programación accesible y poderoso, ideal para principiantes y profesionales que deseen crear aplicaciones, resolver problemas o realizar análisis de datos de manera eficiente.</p>
</div>

<div class="foto container">
    <img src="{{url_for('static', filename='img/mysql.jpg') }}" alt="" class="box-img container">
</div>

<div class="parrafo container">
    <h2>MYSQL</h2>
    <p>MySQL es un sistema de gestión de bases de datos relacional (RDBMS, por sus siglas en inglés) ampliamente utilizado en el desarrollo de aplicaciones web y otras aplicaciones que requieren almacenamiento y recuperación eficiente de datos. Fue desarrollado por MySQL AB (actualmente propiedad de Oracle Corporation) y se basa en el lenguaje de consulta estructurado (SQL, por sus siglas en inglés).</p>
</div>