<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conjunto de lenguajes</title>

    <!-- link css py-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <header>
        <!-- nav -->
        <div class="back">
            <div class="menu container">
                <a href="/" class="logo">LENGUAJES</a>
                <input type="checkbox" id="menu">
                <label for="menu">
                    <img src="" class="menu-icono" alt="">
                </label>
                <nav class="navbar">
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="contacto">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>